<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
 <listeners>
       <listener class-name="tests.Listener"/>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
     <class name="tests.HomePage"/>
     <class name="tests.BuyHonda"/>
     <class name="tests.newcars"/>
     <class name="tests.aboutus"/>
     <class name="tests.tips"/>
     <class name="tests.events"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
